body {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    /* background-repeat: no-repeat; */
    height: 100vh;
}

#form {
    background: #232f33 !important;
    /* border: 1px solid #9e9e9e; */
}

#form>h1, h2, h3, h4, h5 {
    color: white;
}

.row {
    margin-bottom: 0 !important;
}


/* label focus color
.input-field input[type=text]:focus + label {
    color: #1ac495;
}
/* label underline focus color 
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #1ac495;
    box-shadow: 0 1px 0 0 #1ac495;
  } */